---
---

body {
    margin: 60px auto;
    width: 70%;
    background: black;
    background-image: url('{{ site.baseurl }}/images/background-poster.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: rgb(240,240,240);
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: rgb(240,240,240);
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgb(232,232,232);
}

span {
    color: rgb(208,208,208); 
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.social {
padding-left: 10px;
}




.linkcontent {
	background: none;
	color: rgb(232,232,232);
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.linkthumbnail {
	position:relative;
	display: inline-block;
	
	a {
		opacity: 0.5;
	}
	
	a:hover {
		opacity: 1;
		
	}
}


