<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:marcsze@med.umich.edu">
	        			<img src = '{{ site.baseurl }}/images/email.png' width="20" height="20"></a></li>
	        		<li><a href="https://twitter.com" class="twitter-follow-button" 
	        			data-show-count="false"></a> <script>!function(d,s,id)
	        			{var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
	        			if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
	        			fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
				<li><a class="github-button" href="https://github.com/marcsze" 
					data-count-href="/marcsze/followers" data-count-api="/users/marcsze#followers" 
					data-count-aria-label="# followers on GitHub" 
					aria-label="Follow @marcsze on GitHub"></a> 
					<script async defer src="https://buttons.github.io/buttons.js"></script></li>

				</ul>
			</footer>
		</body>
	</html>
